$white: #ffffff;
$dark-green: #57a83b;
$green: #94dc7b;
$light-green: #c9ffb5;
$lightest-green: #e2f6e5;
$lightest-blue: #f6fcff;
$light-blue: #cddde4;
$gray: #bfbfbf;
$dark-gray: #898989;
$black: #3f3838;

$body-background: #fdfdfd;

$primary-text: $green;
$primary-dark-text: $dark-green;
$primary-background: $lightest-green;
$primary-border: $light-green;

$placeholder-text: $gray;

$border-light: $light-blue;
$border-dark: $gray;

$dark-text: $black;
$secondary-text: $dark-gray;

$light-background: $white;
