$white: #ffffff;
$dark-green: #57a83b;
$green: #94DC7B;
$light-green: #c9ffb5;
$lightest-green: #E2F6E5;
$lightest-blue: #F6FCFF;
$light-blue: #CDDDE4;
$gray: #BFBFBF;
$dark-gray: #898989;
$black: #3F3838;

$body-background: $lightest-blue;

$primary-text: $green;
$primary-dark-text: $dark-green;
$primary-background: $lightest-green;
$primary-border: $light-green;

$placeholder-text: $gray;

$border-light: $light-blue;
$border-dark: $gray;

$dark-text: $black;
$secondary-text: $dark-gray;

$light-background: $white;
